@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@400;700&display=swap');

:root {
    --blue-color: #2baaec;
    --green-color: #25e6c8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Roboto', sans-serif;
    color: #626262;
}

h1, h2, h3, h4, a {
    font-family: 'Roboto Slab', serif;
    color: #363636;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.btn {
    padding: 0.7rem 2rem;
    border: none;
    border-radius: 0.8rem;
    background-color: transparent;
    font-weight: bolder;
    cursor: pointer;
}


/* TOP MENU START */
.top-menu {
    border: 1px solid #BFBFBF;
    padding: 0.5rem 0;
    display: none;
}

.work-hours {
    display: flex;
    align-items: center;
}

.fa-clock {
    margin-right: 0.5rem;
    font-size: small;
    color: var(--blue-color)
}

.work-hours p {
    font-size: x-small;
}

.social-media {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 15vh;
}

.social-media a {
    font-size: small;
    color: var(--blue-color)
}

.social-media a:hover {
    color: var(--green-color)
}
/* TOP MENU END */



/* MAIN MENU START */
nav {
    padding: 1rem 0;
}

.logo {
    height: 40px;
}

.fa-bars {
    font-size: 25px;
}

.nav-links {
    list-style: none;
    display: none;
    width: 60vh;
}

.nav-links a{
    text-decoration: none;
}
/* MAIN MENU END */



/* SHOWCASE START  */
.showcase {
    background-color: #DEDEDE;
    padding-top: 2rem;
}

.showcase .container {
    flex-direction: column;
}

.showcase-text {
    text-align: center;
    margin-bottom: 1.5rem;
}

.first-person {
    height: calc(50vh - 72px);
}

h1 {
    font-size: 26px;
    line-height: 30px;
    font-weight: lighter;
    margin-bottom: 2rem;
}

.showcase p {
    display: none;
}

.btn-primary {
    background-color: var(--blue-color);
    color: white;
    width: 100%;
}

.btn-primary:hover {
    background-color: var(--green-color);
}





/* MEDIA QUERIES */

@media (min-width: 768px) {

    .container {
        width: 80%;
        max-width: 1140px;
    }

    .top-menu {
        display: block;
    }

    nav {
        padding: 1.5rem 0;
    }

    .logo {
        height: 50px;
    }

    .nav-links {
        display: flex;
        justify-content: space-between;
    }

    .fa-bars {
        display: none;
    }

    .showcase .container {
        flex-direction: row-reverse;
    }

    .showcase-text {
        text-align: start;
    }

    .first-person {
        height: calc(90vh - 135.2px);
        margin-right: 5rem;
    }

    h1 {
        font-size: 36px;
        line-height: 40px;
    }

    .showcase p {
        display: block;
        font-size: small;
        margin-bottom: 2rem;
    }

    .btn-primary {
        width: initial;
    }

}