@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@400;700&display=swap');

:root {
    --blue-color: #2baaec;
    --green-color: #25e6c8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Roboto', sans-serif;
    color: #626262;
}

h1, h2, h3, h4, a {
    font-family: 'Roboto Slab', serif;
    color: #363636;
    font-weight: lighter;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 22px;
}

h4 {
    font-size: 12px;
}

.small {
    font-size: small;
}

.xs {
    font-size: x-small;
}

.current {
    font-weight: bolder;
}

.mt-1{
    margin-top: 1rem;
}

.mt-2{
    margin-top: 2rem;
}

.mb-1{
    margin-bottom: 1rem;
}

.mb-2{
    margin-bottom: 2rem;
}

.container {
    width: 90%;
    margin: auto;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.btn {
    padding: 0.7rem 2rem;
    border: none;
    border-radius: 0.8rem;
    background-color: transparent;
    font-weight: bolder;
    cursor: pointer;
}


/* TOP MENU START */
.top-menu {
    border: 1px solid #BFBFBF;
    padding: 0.5rem 0;
    display: none;
}

.work-hours {
    display: flex;
    align-items: center;
}

.fa-clock {
    margin-right: 0.5rem;
    color: var(--blue-color)
}


.social-media {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.social-media a {
    color: var(--blue-color)
}

.social-media a:hover {
    color: var(--green-color)
}
/* TOP MENU END */



/* MAIN MENU START */
nav {
    padding: 1rem 0;
}

.logo {
    height: 40px;
}

.fa-bars {
    font-size: 25px;
}

.nav-links {
    list-style: none;
    display: none;
}
/* MAIN MENU END */



/* SHOWCASE START  */
.showcase {
    background-color: #DEDEDE;
    padding-top: 2rem;
}

.showcase .container {
    flex-direction: column;
}

.showcase-text {
    text-align: center;
}

.first-person {
    height: calc(50vh - 72px);
}

h1 {
    font-size: 30px;
    line-height: 30px;    
}

.showcase p {
    display: none;
}

.btn-primary {
    background-color: var(--blue-color);
    color: white;
    width: 100%;
}

.btn-primary:hover {
    background-color: var(--green-color);
}
/* SHOWCASE END */



/* ABOUT US START */
.about-us .container {
    display: block;
}

#blue {
    color: var(--blue-color);
}

#line {
    height: 4px;
    width: 100%;
    background-color: var(--green-color);
}

.numbers {
    list-style: none;
    text-align: center;
}

.numbers h2 {
    color: var(--blue-color);
}

.second-person {
    display: none;
}
/* ABOUT US END */


/* SERVICES START */
.services {
    background-color: #F7F7F7;
    /* background-color: yellowgreen; */
    padding: 4rem 0;
}

.service-header {
    flex-direction: column;
}

#small-line {
    height: 4px;
    width: 200px;
    background-color: var(--green-color);
}

.grid .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2rem;
    justify-items: center;
    align-items: center;
}

.card p {
    font-family: 'Roboto', sans-serif;
    color: #626262;
}

.card {
    background-color: white;
    border-radius: 5px;
    flex-direction: column;
    text-align: center;
    padding: 4rem;
    width: 280px;
    height: 350px;
}

.card:hover {
    box-shadow: 2px 2px 10px 3px #BFBFBF;
}

.circle {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: var(--green-color);
    position: relative;
    transition: box-shadow 0.2s ease-in-out;
}

.circle:hover {
    background-color: var(--blue-color);
    box-shadow: 0 0 0 6px #2ba8ec50;
}

.circle img {
    height: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* SERVICES END */


/* FOOTER START */
.blue {
    background-color: var(--blue-color);
    opacity: 80%;
    padding: 1rem 0;
}

.blue .container {
    flex-direction: column;
}

.end {
    background-color: var(--blue-color);    
    padding: 0.5rem 0;
    text-align: center;
}

.end p {
    color: #F3FBFF;
    opacity: 60%;
}

.btn-secondary {
    background-color: white;
    color: var(--blue-color);
}

.btn-secondary:hover {
    border: 2px solid white;
    background-color: var(--blue-color);
    color: white;
}

.blue h3 {
    color: white;
}

.social-media-footer {
    justify-content: center;
    padding: 0.7rem 0;    
}

.social-media-footer .social-media {
    width: 50%;
}

.end {

}







/* MEDIA QUERIES */

@media (min-width: 630px) {   

    .showcase .container {
        flex-direction: row-reverse;
    }

    .showcase-text {
        text-align: start;
    }

    .numbers {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    } 
    
    .grid .container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media (min-width: 768px) {
    
    .container {
        width: 80%;
        max-width: 1300px;
    }
    
    .top-menu {
        display: block;
    }
    
    nav {
        padding: 1rem 0;
    }
    
    .logo {
        height: 50px;
    }
    
    .nav-links {
        display: flex;
        justify-content: space-between;
        width: 300px;
    }
    
    .fa-bars {
        display: none;
    }
    
    .first-person {
        height: calc(90vh - 135.2px);
        margin-right: 5rem;
    }
    
    h1 {
        font-size: 36px;
        line-height: 40px;
    }
    
    .showcase p {
        display: block;
    }

    .btn-primary {
        width: initial;
    }

    .about-us .container {
        display: flex;
    }

    .numbers {
        justify-content: space-between;
        text-align: start;
        width: 80%;
    }

    .second-person {
        display: inline-block;
        height: 400px;        
    }

    .aboutus-text {
        width: 50%;
    }

    .about-us h4 {
        margin-right: 1.5rem;    
    }

    .grid .container {
        grid-template-columns: repeat(3, 1fr);
    }

    .blue .container {
        flex-direction: row;
    }

    .social-media-footer {
        display: none;
    }

    
}